<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
<body>
    <!-- Basic with Mustache style brackets -->
    <div id="app">
        <h1>{{ message }}</h1>
    </div>

    <script>
        var data = { message: 'Greetings from Vue!'};
        new Vue({
            el: '#app',
            data: data
        });

        /* Alternatively
            new Vue ({
                el: '#app',
                data: { message: 'Greetings from Vue!'}
            })
        */
    </script>

    <!-- v-model -->
    <div id="v-model">
        <h1>{{ vModelMessage }} </h1>
        <input v-model="vModelMessage">
    </div>

    <script>
        new Vue ({
                el: "#v-model",
                data: { vModelMessage: "The Vue v-model" }
        });
    </script>

    <!-- v-html -->
    <!-- No need to use the mustache style brackets syntax -->
    <div id="v-html">
        <div v-html="vHtmlMessage"></div>
    </div>

    <script>
        new Vue ({
                el: "#v-html",
                data: { vHtmlMessage: "Hello there, v-html" }
        });
    </script>


    <!-- v-show -->
    <!-- Button only shows up when there is text in the textarea -->
    <div id="v-show">
        <h1>You must type a message</h1>
        <textarea v-model="message"></textarea>
        <button v-show="message">Send message</button>

        <!-- this just displays the data on the screen -->
        <pre>
            {{$data | json}}
        </pre>
    </div>

    <script>
        new Vue ({
            el: "#v-show",
            data: { message: "Greetings from v-model and v-show!"}
        });
    </script>

    <!-- v-if -->
    <div id="v-if">
        <h2 v-if="isVisible">Hello there, v-if. I see you</h2>
        <h2 v-if-else="otherVisible">Maybe</h2>
        <h2 v-else>Goodbye there.</h2>
    </div>

    <script>
        new Vue ({
            el: "#v-if",
            data: { isVisible: true,
                otherVisible: true,
             }
        })
    </script>

    <!-- v-for -->
     <div id="v-for">
        <ul>
            <li v-for="e in elements">{{e}}</li>
        </ul>
     </div>

     <script>
        new Vue({
            el: "#v-for",
            data: { elements : ["e1", "e2", "e3", "e4", "e5"]}
        })
     </script>

     <!-- v-on -->
    <!-- Event handling -->
     <div id="v-on">
         <button v-on:click="decr(2)">-</button>
         <button v-on:click="incr(2)">+</button>
        <p>The value is {{ counter }}.</p>
     </div>

     <script>
        new Vue({
            el: "#v-on",
            data: {counter: 0},
            methods:
            {
                incr(step) { step = step || 1, this.counter += step},
                decr(step) { step = step || 1, this.counter -= step}
            }
        });
     </script>

    <!-- Computed Property -->
     <div id="computed">
        <h2>{{count}}</h2>
     </div>

     <script>
        new Vue({
            el: "#computed",
            data: {
                items: [1, 2, 3, 4, 5],
                sum: 0
            },
            computed: {
                count: function() {
                    for (let i = 0; i < this.items.length; i++) {
                        this.sum += this.items[i];
                    }

                    return "The sum is " + this.sum;
                }
            }
        })
     </script>

    <!-- Methods -->
    <div id="methods">
        <h2>{{display_header()}}!</h2>
    </div>

    <script>
        new Vue({
            el: "#methods",
            data: {
                Welcome: "Greetings from",
                name: "Vue",
            },
            methods: {
                display_header: function() {
                    return this.Welcome + " " + this.name
                },
            },
        });
    </script>

    <!-- Watchers -->
     <div id="watchers">
        <h1>{{ message }}</h1>
        <button @click="change_Message()">Change the message!</button>
     </div>

     <script>
        new Vue({
            el: "#watchers",
            data: {
                message: "Greetings from the Watchers of Decay",
            },
            methods: {
                change_Message: function() {
                   this.message = "The Elder greets you now";
                }
            },
            watch: {
                message: function() {
                    console.log(this.message);
                }
            }

        });
     </script>
</body>
</html>